<!DOCTYPE html>

<head>
	<title><%= title %> </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/magnific-popup.css" rel="stylesheet">
	<link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main-container">
		<nav class="main-nav">
			<div id="logo" class="left"><a href="#">Photo Wall</a></div>
			<ul class="nav right center-text">
				<li class="btn active">Home</li>
				<li class="btn"><a rel="nofollow" href="/logout">logout</a></li>
			</ul>

		</nav>
		<div class="content-container">
			<header>
			<h1 class="center-text">Image Gallery</h1>
			</header>
			<div class="row">
				<form role="form" id="myForm" action="http://v0.api.upyun.com/xxx" method="post" enctype="multipart/form-data">

					<input type="hidden" name="policy" value="">
					<input type="hidden" name="signature" value="">

					<div class="form-group">
						<label for="url" class="col-sm-2 control-label">上传:</label>
						<div class="col-sm-7">
							<input type="file" name="fulAvatar" id="file_upload" value=""
								   class="form-control" placeholder="图片地址" onchange="uploadByForm();">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="portfolio-content" class="center-text">
			<div class="portfolio-page" id="page-1">
				<% userPhotoPaths.forEach(function (userPhotoPath) { %>
				<!--<a href="<%= userPhotoPath %>" download=""><img class="photo_display" src="<%= userPhotoPath %>"/></a>-->
				<div class="portfolio-group">
					<a class="portfolio-item" href="<%= userPhotoPath %>">
						<img src="<%= userPhotoPath%>" alt="<%= userPhotoPath%>">
						<div class="detail">
							<h3>detail</h3>
							<span class="btn">view</span>
							<span class="btn" onclick="deletePhoto('<%= userPhotoPath %>')">delete</span>
						</div>
					</a>
				</div>
				<% }) %>
			</div>
			<div class="pagination">
				<ul class="nav">
					<li class="active">1</li>
				</ul>
			</div>
		</div>
	</div>	<!-- /.content-container -->	
    
		<footer>
		</footer>
	</div>
	<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/javascripts/modernizr.2.5.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/javascripts/templatemo_script.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('.pagination li').click(changePage);
			$('.portfolio-item').magnificPopup({
				type: 'image',
				gallery:{
					enabled:true
				}
			});
		});

        function uploadByForm() {
            var formData = new FormData($("#myForm")[0]);
            var url = "http://localhost:3000/photo/";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                processData: false,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,
                success: function (responseStr) {
                    location.href = "/photo";
                },
                error: function (responseStr) {
                    alert("只能上传图片文件！");
                }
            });


        }

        function deletePhoto(photopath) {
//            alert(photopath);
			var photoPath = photopath;
			var data= {"photoPath":photoPath};
			$.ajax({
				url:'/photo/delete',
				type:'post',
				data: data,
				success: function (data,status) {
					if(status === 'success'){
					    //alert("refresh the page");
					    location.href = "/photo";
					}
                },
				error:function (data,status) {
					if(status === 'error'){
//					    alert("delete error");
						console.log("delete err");
					}
                }
			})
        }
	</script>	
</body>
</html>